/.vscode
/balancedPhoto.exe
/BIT.exe
/Censoring.exe
/cowcrossing3.exe
/cowcrossing_gold.exe
/flightdiscount.exe
/gallery.exe
/lineInters.exe
/longSubseq.exe
/moocast.exe
/PalaceGuard.exe
/PalindromeQueries.exe
/pizzeriaQueries.exe
/roadconstruction.exe
/salaryQueries.exe
/shortestroute2.exe
/stringMatching.exe
/test.cpp
/test.exe
/text.txt